body
{
	width: 100%;
	margin: 0;
	-webkit-animation: ANIMATION-OPACITY 0.5s;
	-moz-animation: ANIMATION-OPACITY 0.5s;
	-o-animation: ANIMATION-OPACITY 0.5s;
    animation: ANIMATION-OPACITY 0.5s;
    font-family: Merriweather;
    background-color: white;
    color: #263238;
}
html
{
    scroll-behavior: smooth;
}
@-webkit-keyframes ANIMATION-OPACITY
{
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes ANIMATION-OPACITY
{
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes ANIMATION-OPACITY
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes ANIMATION-OPACITY
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
a
{
    color: inherit;
    text-decoration: none;
}
.menu
{
    list-style-type: none;
	padding-left: 116px;
	padding-right: 116px;
	padding-top: 30px;
    padding-bottom: 30px;
	margin: 0;
}
.menu-item
{
	color: black;
	display: flex;
	float: right;
    font-size: 14px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
	align-items: center;
}
.menu-item-hover:hover
{
    background-color: #92E3A9;
    border-radius: 5px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 0.4s;
}
.login
{
    background-color: black;
    color: #92E3A9;
    border-radius: 5px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login:hover
{
    background-color: #92E3A9;
    color: #263238;
    transition-duration: 0.4s;
}
.presentation
{
    display: table;
    margin-top: 200px;
    margin-left: 31px;
    margin-right: 31px;
}
.presentation-button
{
    margin-left: 104px;
}
.content
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title
{
    font-size: 40px;
    line-height: 48.44px;
    justify-content: left;
    padding-right: 150px;
    padding-left: 104px;
}
.text
{
    color: gray;
    margin-top: 46px;
    margin-bottom: 31px;
    padding-right: 150px;
    padding-left: 104px;
}
.responsive-library
{
    display: block;
}
.responsive-library-result
{
    display: none;
    width: 259.69px;
    height: 286.41px;
}

/*buttons*/
.black-button
{
    background-color: #263238;
    color: #92E3A9;
    margin-right: 34px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.send-button
{
    background-color: #263238;
    color: #92E3A9;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.black-button:hover, .send-button:hover
{
    background-color: #92E3A9;
    color: #263238;
    transition-duration: 0.4s;
}
.green-button
{
    background-color: #92E3A9;
    color: #263238;
    margin-top: 62px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.green-button:hover
{
    background-color: #263238;
    color: #92E3A9;
    transition-duration: 0.4s;
}

/*content*/
.describe
{
    background-color: #92E3A9;
    margin-top: 128.19px;
    padding-top: 49px;
}
.describing-text
{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table
{
    margin-top: 93px;
    margin-left: 90px;
    padding-bottom: 118px;
}
.column
{
    float: left;
    width: 31.75%;
    padding: 10px;
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}

/*form*/
.form
{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 109px;
    margin-bottom: 270px;
    box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.2);
    border-radius: 5px;
}
.form-column
{
    flex: 50%;
    padding: 10px;
}
.form-row
{
    display: flex;
}
.form-title
{
    font-size: 29px;
    line-height: 121.1%;
}
.form-text
{
    font-size: 16px;
    line-height: 121.1%;
}
.normal-input
{
    resize: none;
    padding: 5px;
    margin-bottom: 25px;
    border: 1px solid #263238;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

/*mobile menu*/
.overlay
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 11;
	left: 0;
	top: 0;
	background-color: #263238;
	background-color: rgba(38,50,56, 0.9);
	overflow-x: hidden;
	transition: 0.4s;
}
.overlay-content
{
	position: relative;
	top: 25%;
	width: 100%;
    text-align: center;
    justify-content: center;
}
.overlay .mobile-ref
{
	padding: 4px;
	text-decoration: none;
	font-size: 36px;
	color: white;
	display: block;
	transition: 0.3s;
}
.overlay .closebtn
{
	position: absolute;
	color: white;
	top: 20px;
	font-size: 60px;
}
.closebtn
{
    right: 30px;
}

/*special CSS definitions*/
.shown
{
    display: none;
}

/*footer*/
.footer
{
    background-color: #263238;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.facebook
{
    background-color: white;
    color: #263238;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.facebook:hover
{
    color: white;
    background-color: initial;
    transition-duration: 0.4s;
}
.twitter
{
    margin-left: 14.33px;
    margin-right: 9.33px;
}

/*Responsive rules*/
@media screen and (max-width: 1357px)
{
    .table
    {
        margin-left: 0;
    }
}
@media screen and (max-width: 1262px)
{
    .column
    {
        width: 75%;
        padding: 15px;
    }
}
@media screen and (max-width: 1075px)
{
    .text, .title
    {
        padding-right: 52px;
        padding-left: 0;
    }
    .black-button, .green-button
    {
        margin-left: 0;
    }
    .menu
    {
        padding-left: 33px;
        padding-right: 33px;
        padding-top: 39px;
        padding-bottom: 39px;
    }
}
@media screen and (max-width: 900px)
{
    .form
    {
        margin-top: 50px;
        margin-bottom: 53px;
        margin-left: 31px;
        margin-right: 31px;
    }
    .form-center
    {
        text-align: center;
    }
    .form-column
    {
        float: left;
        width: 90%;
        padding: 10px;
    }
    .form-row
    {
        content: "";
        display: table;
        clear: both;
    }
}
@media screen and (max-width: 880px)
{
    .text, .title
    {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
    .presentation
    {
        margin-top: 153px;
    }
    .presentation-button
    {
        margin-left: 0;
    }
    .responsive-library
    {
        display: none;
    }
    .responsive-library-result
    {
        display: block;
    }
    .column
    {
        width: 95%;
    }
    .hidden
    {
        display: none;
    }
    .shown
    {
        font-size: 24px;
        display: block;
    }
    .responsive-logo
    {
        width: 120px;
        height: 40px;
    }
    .menu-item
    {
        padding: 0;
    }
    .green-button
    {
        margin-top: 13px;
    }
    .black-button, .green-button
    {
        width: 100%;
    }
}
@media screen and(max-width: 289px)
{
    .form-column
    {
        width: 75%;
    }
}